main h1 {
  font-size: smaller;
}

.searchResult,
.campaignDetails {
  background-color: lightblue;
  margin: 15px;
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
}

.campaignDetails {
  display: flex;
  justify-content: space-between;
}
