main h1 {
  font-size: smaller;
}

.searchResult,
.campaignDetails {
  background-color: lightblue;
  margin: 15px;
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
}

.campaignDetails {
  display: flex;
  justify-content: space-between;
}

.container.splash {
  background-color: #5b3892;
  height: 100vh;
  width: 100vw;
}

.splash .imageContainer {
  margin: auto;
  width: 200px;
}

.splash img {
  width: 200px;
}
